.navbar{
    height: 9vh;
    background-color: brown;
    padding: 0;
    margin: 0;
}
.container{ 
    padding: 20px 30px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%; 

}
.left{
    height: 100%;
    display: flex; 
    justify-content: space-between;
    width: 30%;
    align-items: center;
    text-align: center;   
}
.left h2{
    color: rgb(30, 220, 226);
    font-weight: 400; 
    padding: 0px 10px; 
    margin: 0px;
}
.left a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 1.6px;
    font-weight: 400; 
}
.right{
    width: 50%;  
     height: 100%;
     opacity: 1;

} 
.right ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;

}
.right ul li{
    list-style: none;  

}
.right ul li a{ 
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 12px;
    border: 1px solid black;

}
@media (max-width:800px){
    .right{
        opacity: 0;
    }
}
