<p>signin works!</p>
<div class="container">
    <form action="" [formGroup]="Form" (ngSubmit)="onsubmit(Form.value)">
      <mat-card class="example-card">
      <mat-card-content> 
        <h3>LOGIN</h3> 
        <div class="inputfields"> 
       
          <mat-form-field appearance="outline" class="formfield">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="" formControlName="email">
            
            <mat-icon matSuffix>email</mat-icon> 
            <mat-error>INVALID EMAIL ADDRESS</mat-error>
  
          </mat-form-field>
   
          <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button> 
          </mat-form-field> 
          
    </div>
    <div class="sumbitbtn">
        <button mat-raised-button  type="submit" [disabled]="Form.invalid">SIGNUP 
          <mat-icon matSuffix>login</mat-icon>
        </button>
    </div>
      </mat-card-content> 
    </mat-card>
    </form>
    
  </div>
  
  
    
              