.container{ 
  display: flex;
  justify-content: center;
  height: 100vh;
}
mat-card{
  align-items: center;
  justify-content: center; 
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(221, 221, 221);
  min-width:350px;
  margin-top: 60px; 
} 
mat-card h3{
  font-size: 35px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 2.5px;
  padding: 10px;

}

  .inputfields {  
    /* padding-top: 50px; */
    display: flex;
      flex-direction: column;
  } 
  .inputfields input{
    font-size: 18px;
  } 
  .inputfields input:focus{
    outline: transparent;
  }
  .inputfields button{
    border: 0;
    background-color: transparent;
    outline: none;
  }
  .sumbitbtn{ 
    display: flex;
    justify-content: center;
    padding: 10px; 
  } 